@model ASPNETAOP.Models.RadarInfo

@{
    ViewData["Title"] = "Radar Information";
}

<h1>Radar Information</h1>
<form asp-action="RadarEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>System</th>
                <th>Configuration</th>
                <th></th>
                <th></th>
            </tr>
            @{
                var RadarName = Model.Radar.name;
                var System = Model.Radar.system;
                var Configuration = Model.Radar.configuration;

                <input type="hidden" id="@RadarName" name="@RadarName" value="@Model.Radar.name" />
                <input type="hidden" id="@System" name="@System" value="@Model.Radar.system" />
                <input type="hidden" id="@Configuration" name="@Configuration" value="@Model.Radar.configuration" />

                <tr>
                    <td>@RadarName</td>
                    <td>@System</td>
                    <td>@Configuration</td>
                    <td>
                        <input type="button" style="background-color:royalblue; color:white; width:150px; height:40px;" title="Edit Radar" value="Edit Radar" onclick="location.href='@Url.Action("RadarEdit", "EditRadar", new { id = @Model.Radar.ID })'" />
                    </td>
                    <td>
                        <a href="~/Radar/DeleteRadar?id=@Model.Radar.ID" id="deleteBtn" class="btn bg-danger mr-1" onclick="return confirm('Are you sure you want to delete this radar completely?');"><i class="fas fa-trash-alt text-white"></i>Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Receiver Name</th>
                <th>Listening Time</th>
                <th>Rest Time</th>
                <th>Recovery Time</th>
                <th></th>
            </tr>
            @{
                var ReceiverName = Model.Receiver.name;
                var ListeningTime = Model.Receiver.listening_time;
                var RestTime = Model.Receiver.rest_time;
                var RecoveryTime = Model.Receiver.recovery_time;

                <input type="hidden" id="@ReceiverName" name="@ReceiverName" value="@Model.Receiver.name" />
                <input type="hidden" id="@ListeningTime" name="@ListeningTime" value="@Model.Receiver.listening_time" />
                <input type="hidden" id="@RestTime" name="@RestTime" value="@Model.Receiver.rest_time" />
                <input type="hidden" id="@RecoveryTime" name="@RecoveryTime" value="@Model.Receiver.recovery_time" />

                <tr>
                    <td>@ReceiverName</td>
                    <td>@ListeningTime</td>
                    <td>@RestTime</td>
                    <td>@RecoveryTime</td>
                    <td>
                        <input type="button" style="background-color:royalblue; color:white; width:150px; height:40px;" title="Edit Receiver" value="Edit Receiver" onclick="location.href='@Url.Action("ReceiverEdit", "EditRadar", new { id = @Model.Receiver.ID })'" />
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Transmitter Name</th>
                <th>Modulation Type</th>
                <th>Max Frequency</th>
                <th>Min Frequency</th>
                <th>Power</th>
                <th></th>
            </tr>
            @{
                var TransmitterName = Model.Transmitter.name;
                var ModulationType = Model.Transmitter.modulation_type;
                var MaxFrequency = Model.Transmitter.max_frequency;
                var MinFrequency = Model.Transmitter.min_frequency;
                var Power = Model.Transmitter.power;

                <input type="hidden" id="@TransmitterName" name="@TransmitterName" value="@Model.Transmitter.name" />
                <input type="hidden" id="@ModulationType" name="@ModulationType" value="@Model.Transmitter.modulation_type" />
                <input type="hidden" id="@MaxFrequency" name="@MaxFrequency" value="@Model.Transmitter.max_frequency" />
                <input type="hidden" id="@MinFrequency" name="@MinFrequency" value="@Model.Transmitter.min_frequency" />
                <input type="hidden" id="@Power" name="@Power" value="@Model.Transmitter.power" />

                <tr>
                    <td>@TransmitterName</td>
                    <td>@ModulationType</td>
                    <td>@MaxFrequency</td>
                    <td>@MinFrequency</td>
                    <td>@Power</td>
                    <td>
                        <input type="button" style="background-color:royalblue; color:white; width:150px; height:40px;" title="Edit Transmitter" value="Edit Transmitter" onclick="location.href='@Url.Action("TransmitterEdit", "EditRadar", new { id = @Model.Transmitter.ID })'" />
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Location Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Airborne</th>
                <th></th>
            </tr>
            @{
                var LocationName = Model.Location.name;
                var Country = Model.Location.country;
                var City = Model.Location.city;
                var Latitude = Model.Location.geographic_latitude;
                var Longitude = Model.Location.geographic_longitude;
                var Airborne = Model.Location.airborne;

                <input type="hidden" id="@LocationName" name="@LocationName" value="@Model.Location.name" />
                <input type="hidden" id="@Country" name="@Country" value="@Model.Location.country" />
                <input type="hidden" id="@City" name="@City" value="@Model.Location.city" />
                <input type="hidden" id="@Latitude" name="@Latitude" value="@Model.Location.geographic_latitude" />
                <input type="hidden" id="@Longitude" name="@Longitude" value="@Model.Location.geographic_longitude" />
                <input type="hidden" id="@Airborne" name="@Airborne" value="@Model.Location.airborne" />

                <tr>
                    <td>@LocationName</td>
                    <td>@Country</td>
                    <td>@City</td>
                    <td>@Latitude</td>
                    <td>@Longitude</td>
                    <td>@Airborne</td>
                    <td>
                        <input type="button" style="background-color:royalblue; color:white; width:150px; height:40px;" title="Edit Location" value="Edit Location" onclick="location.href='@Url.Action("LocationEdit", "EditRadar", new { id = @Model.Location.ID })'" />
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Mode Name</th>
            </tr>
            @{for (int i = 0; i < Model.ListOfModes.Count; i++)
                {
                    var name = Model.ListOfModes[i].name;
                    <input type="hidden" id="@name" name="@name" value="@Model.ListOfModes[i].name" />
                    <tr>
                        <td>@name</td>
                        <td>
                            <input type="button" style="background-color:royalblue; color:white; width:150px; height:40px;" title="Edit Mode" value="Edit Mode" onclick="location.href='@Url.Action("ModeEdit", "EditRadar", new { id = @Model.ListOfModes[i].ID })'" />
                        </td>
                    </tr>
                }
            }
        </table>
        <input type="button" style="background-color:limegreen; color:white; width:150px; height:40px;" title="Add Mode" value="Add Mode" onclick="location.href='@Url.Action("AddMode", "EditRadar", new { id = @Model.Radar.ID })'" />
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Antenna name</th>
                <th>Antenna type</th>
                <th>Antenna duty</th>
            </tr>
            @{for (int i = 0; i < Model.ListOfAntennas.Count; i++)
                {
                    var name = Model.ListOfAntennas[i].name;
                    var type = Model.ListOfAntennas[i].type;
                    var duty = Model.ListOfAntennas[i].duty;
                    <input type="hidden" id="@name" name="@name" value="@Model.ListOfAntennas[i].name" />
                    <input type="hidden" id="@type" name="@type" value="@Model.ListOfAntennas[i].type" />
                    <input type="hidden" id="@duty" name="@duty" value="@Model.ListOfAntennas[i].duty" />
                    <tr>
                        <td>@name</td>
                        <td>@type</td>
                        <td>@duty</td>
                        <td>
                            <input type="button" style="background-color:royalblue; color:white; width:150px; height:40px;" title="Edit Antenna" value="Edit Antenna" onclick="location.href='@Url.Action("AntennaEdit", "EditRadar", new { id = @Model.ListOfAntennas[i].ID })'" />
                        </td>
                    </tr>
                }
            }
        </table>
        <input type="button" style="background-color:limegreen; color:white; width:150px; height:40px;" title="Add Antenna" value="Add Antenna" onclick="location.href='@Url.Action("AddAntenna", "EditRadar", new { id = @Model.Radar.ID })'" />
    </div>
</form>
<b>@Data.message</b>
@{ Data.message = null; }
<div>
    <input type="button" title="Back" value="Back" onclick="location.href='@Url.Action("RadarList", "AdminRadarList")'" />
</div>