@model ASPNETAOP.Models.SubModeInfo

@{
    ViewData["Title"] = "Submode's Informations";
}
<h1>Submode's Informations</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Show">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                var ID = "Model.Submode.ID";
                var name = "Model.Submode.name";
                var PW = "Model.Submode.PW";
                var PRI = "Model.Submode.PRI";
                var min_frequency = "Model.Submode.min_frequency";
                var max_frequency = "Model.Submode.max_frequency";
                var mode_id = "Model.Submode.mode_id";
                <input type="hidden" id="@ID" name="@ID" value="@Model.Submode.ID" />
                <input type="hidden" id="@name" name="@name" value="@Model.Submode.name" />
                <input type="hidden" id="@PW" name="@PW" value="@Model.Submode.PW" />
                <input type="hidden" id="@PRI" name="@PRI" value="@Model.Submode.PRI" />
                <input type="hidden" id="@min_frequency" name="@min_frequency" value="@Model.Submode.min_frequency" />
                <input type="hidden" id="@max_frequency" name="@max_frequency" value="@Model.Submode.max_frequency" />
                <input asp-for="@Model.Submode.mode_id" class="hidden" type="hidden" placeholder=@mode_id />
                <input asp-for="@Model.Submode.ID" class="hidden" type="hidden" placeholder=@ID />
                <h1>---------------------------------------------------------------------</h1>
                <table>
                    <tr>
                        <th>Name:</th>
                        <th>@Model.Submode.name</th>
                    </tr>
                    <tr>
                        <th>PW:</th>
                        <th>@Model.Submode.PW</th>
                    </tr>
                    <tr>
                        <th>PRI:</th>
                        <th>@Model.Submode.PRI</th>
                    </tr>
                    <tr>
                        <th>Min Frequency:</th>
                        <th>@Model.Submode.min_frequency</th>
                    </tr>
                    <tr>
                        <th>Max Frequency:</th>
                        <th>@Model.Submode.max_frequency</th>
                    </tr>
                </table>
                <h1>---------------------------------------------------------------------</h1>
            }
        </form>
    </div>
</div>
<h1>            </h1>
<h1>---------------------------------------------------------------------</h1>
<h3>Submode's Scan Informations</h3>
<div class="row">
    <table>
        <tr>
            <th>Name</th>
            <th>type</th>
            <th>Main Aspect</th>
            <th>Scan Angle</th>
            <th>Scan Rate</th>
            <th>Hits Per Scan</th>
            <th></th>
        </tr>
        @{
            var scan_name = Model.Scan.name;
            var type = Model.Scan.type;
            var main_aspect = Model.Scan.main_aspect;
            var scan_angle = Model.Scan.scan_angle;
            var scan_rate = Model.Scan.scan_rate;
            var hits_per_scan = Model.Scan.hits_per_scan;
            <input type="hidden" id="@scan_name" name="@scan_name" value="@Model.Scan.name" />
            <input type="hidden" id="@type" name="@type" value="@Model.Scan.type" />
            <input type="hidden" id="@main_aspect" name="@main_aspect" value="@Model.Scan.main_aspect" />
            <input type="hidden" id="@scan_angle" name="@scan_angle" value="@Model.Scan.scan_angle" />
            <input type="hidden" id="@scan_rate" name="@scan_rate" value="@Model.Scan.scan_rate" />
            <input type="hidden" id="@hits_per_scan" name="@hits_per_scan" value="@Model.Scan.hits_per_scan" />

            <tr>
                <td>@scan_name</td>
                <td>@type</td>
                <td>@main_aspect</td>
                <td>@scan_angle</td>
                <td>@scan_rate</td>
                <td>@hits_per_scan</td>
                <td>
                    <input type="button" style="background-color:royalblue; border-color:royalblue; color:white; width:150px; height:40px;" title="Details" value="Details" onclick="location.href='@Url.Action("DisplayScan", "Submode", new { id = @Model.Scan.ID })'" />
                </td>
            </tr>
        }
    </table>
</div>
<h1>---------------------------------------------------------------------</h1>
<h1>            </h1>
<b>@ViewData["Message"]</b>
<div>
    <input type="button" style="background-color:mediumblue; border-color:mediumblue; color:white; width:150px; height:40px;" title="Back" value="Back" onclick="location.href='@Url.Action("Back", "Submode", new { id = Model.Submode.ID })'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
