@model ASPNETAOP.Models.Antenna.AntennaList

@{
    ViewData["Title"] = "NewAntennaScan";
}

<h1>Build Relationship</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="NewAntennaScanParam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Horizontal Beamwidth</th>
                    <th>Vertical Beamwidth</th>
                    <th>Polarization</th>
                    <th>Number of Feed</th>
                    <th>Horizontal Dimension</th>
                    <th>Vertical Dimension</th>
                    <th>Location</th>
                    <th>Select</th>
                </tr>
                @for (int i = 0; i < Model.antennas.Count; i++)
                {
                    var ID = "antennas[" + i + "].ID";
                    var name = "antennas[" + i + "].name";
                    var type = "antennas[" + i + "].type";
                    var horizontal_beamwidth = "antennas[" + i + "].horizontal_beamwidth";
                    var vertical_beamwidth = "antennas[" + i + "].vertical_beamwidth";
                    var polarization = "antennas[" + i + "].polarization";
                    var number_of_feed = "antennas[" + i + "].number_of_feed";
                    var horizontal_dimension = "antennas[" + i + "].horizontal_dimension";
                    var vertical_dimension = "antennas[" + i + "].vertical_dimension";
                    var location = "antennas[" + i + "].location";
                    <input type="hidden" id="@ID" name="@ID" value="@Model.antennas[i].ID" />
                    <input type="hidden" id="@name" name="@name" value="@Model.antennas[i].name" />
                    <input type="hidden" id="@type" name="@type" value="@Model.antennas[i].type" />
                    <input type="hidden" id="@horizontal_beamwidth" name="@horizontal_beamwidth" value="@Model.antennas[i].horizontal_beamwidth" />
                    <input type="hidden" id="@vertical_beamwidth" name="@vertical_beamwidth" value="@Model.antennas[i].vertical_beamwidth" />
                    <input type="hidden" id="@polarization" name="@polarization" value="@Model.antennas[i].polarization" />
                    <input type="hidden" id="@number_of_feed" name="@number_of_feed" value="@Model.antennas[i].number_of_feed" />
                    <input type="hidden" id="@horizontal_dimension" name="@horizontal_dimension" value="@Model.antennas[i].horizontal_dimension" />
                    <input type="hidden" id="@vertical_dimension" name="@vertical_dimension" value="@Model.antennas[i].vertical_dimension" />
                    <input type="hidden" id="@location" name="@location" value="@Model.antennas[i].location" />

                    <tr>
                        <td>@Model.antennas[i].name</td>
                        <td>@Model.antennas[i].type</td>
                        <td>@Model.antennas[i].horizontal_beamwidth</td>
                        <td>@Model.antennas[i].vertical_beamwidth</td>
                        <td>@Model.antennas[i].polarization</td>
                        <td>@Model.antennas[i].number_of_feed</td>
                        <td>@Model.antennas[i].horizontal_dimension</td>
                        <td>@Model.antennas[i].vertical_dimension</td>
                        <td>@Model.antennas[i].location</td>
                        <td>@Html.CheckBoxFor(m => Model.antennas[i].IsChecked)</td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
            <b>@ViewData["Message"]</b>
        </form>
    </div>
</div>
<div>
    <input type="button" title="AddSubmode" value="Add Submode" onclick="location.href='@Url.Action("GoToSubmode", "AntennaScan")'" />
</div>
<div>
    <input type="button" title="AddMode" value="Add Mode" onclick="location.href='@Url.Action("GoToMode", "AntennaScan")'" />
</div>
<div>
    <input type="button" title="Done" value="DONE!" onclick="location.href='@Url.Action("Done", "AntennaScan")'" />
</div>
<div>
    <a asp-action="Index">Turn back</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
